{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "@babel/plugin-transform-react-jsx"
  ]
}