body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.tilty {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  background-color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  display: inline-block;
  transform: translateZ(60px);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
  letter-spacing: 0.15rem;
}
